.ProductsLayout {
  margin: 2% 1% 0% 2%;
  padding: 0.8rem;
  width: 22%;
  height: max-content;
  border: solid 3px rgba(43, 35, 35, 0.603);
  border-radius: 15px;
  background-color: goldenrod;
  color: white;
}
.ProductsLayout-name,
.ProductsLayout-price {
  background-color: transparent;
  font-weight: bolder;
  font-size: large;
}

.ProductsLayout-name-item,
.ProductsLayout-price-itemPrice,
.ProductsLayout-quantity-inp,
.ProductsLayout-details,
.ProductsLayout-button {
  background-color: rgba(43, 35, 35, 0.603);
}

.ProductsLayout-name-item,
.ProductsLayout-price-itemPrice {
  text-align: center;
  margin-top: 0.8rem;
  font-weight: normal;
}

.ProductsLayout-name-item,
.ProductsLayout-price-itemPrice,
.ProductsLayout-details {
  border-radius: 12px;
}
.ProductsLayout-details {
  padding-left: 2rem;
}

.ProductsLayout-quantity {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: transparent;
  font-size: large;
  font-weight: bolder;
}
.ProductsLayout-quantity-inp {
  width: 6rem;
  height: 2rem;
  color: white;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  border: solid 3px white;
  border-radius: 12px;
}
.ProductsLayout-button {
  color: white;
  font-size: large;
  font-weight: bolder;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
  margin-top: 1rem;
  margin-left: 35%;
  border-color: white;
}
